* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
#product-overview {
    background: url("freedom.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 528px;
    padding: 10px;

}

#product-overview h1 {
    color:white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 45%;
    left: 3%;

}
.plan {
    background: black;
    color: white;
    text-align: center;
    padding: 16px;
    margin: 8px;
    /*display: inline-block;*/
    width: 15rem;
    vertical-align: middle;
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.plan--highlighted {
  background: rgb(248, 212, 4);
  color: black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0.5);
}
.plan__annotation {
    background: black;
    color: white;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0.5);
    border-radius: 8px;

}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}
.plan__features li {
    margin: 8px 0;
}

.button {
    background: darkred;
    color: white;
    font: inherit;
    border: 1.5px solid darkred;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover,
.button:active {
   background-color: white;
   color: black; 
}
.button:focus {
    outline: none;
}
#key-features {
    background: rgb(248, 212, 4);
    margin-top: 80px;
    padding: 16px;
}
.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.key-feature {
    display: inline-block;
    width: 30%;

}
.key-feature__image {
    background: white;
    width: 128px;
    height: 128px;
    border: 2px solid black;
    border-radius: 50%;
<<<<<<< HEAD
=======
    margin: auto;
}
.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.plan__title { 
    color: rgb(248, 212, 4);

}

.plan__price {
    color: darkred; 
}
.plan__list {
    width: 80%;
>>>>>>> MediaQueries
    margin: auto;
}
.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.plan__title { 
   /*color: rgb(248, 212, 4);*/

}

.plan__price {
    color: darkred; 
}
.plan__list {
    width: 100%;
    /*margin: auto;*/
    text-align: center;

}

.plan__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section-title {
    color: darkred;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.main-header { 
    width: 100%;
background-color: rgb(248, 212, 4);
padding: 8px 16px;
}
.main-header > div {
    display: inline-block;

}
.main-header_brand {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav_item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav_item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 3px 0;


}
.main-nav_item a:hover,
.main-nav_item a:active {
    color: white;
    border-bottom: 5px solid white
}

.main-nav_item--cta a {
    color: white;
    background-color: black;
    padding: 8px 16px;
    border-radius: 8px;
}
.main-nav_item--cta a:hover,
.main-nav_item--cta a:active {
    color: black;
    background: white;
    border: none;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}
.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}
.main-footer__link a {
    color: white;
    text-decoration: none;

}
.main-footer__link a:hover,
.main-footer__link a:active {
color: gray;
}

    
